.movie-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.movie-page__info-container {
  background-color: #222;
  border-radius: 0.25em;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.846);
  padding: 10px;
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container {
  flex: 0.3;
}
.movie-info {
  flex: 0.6;
}
