* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(12, 11, 18);
}
.app {
  width: 100%;
  height: fit-content;
}
.center {
  width: 100%;
  justify-content: center;
  align-items: center;
}
