.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-grid {
  margin: auto;
  margin-top: 100px;
  display: grid;
  width: 65%;

  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 20px;
  row-gap: 4vh;
  padding: 20px;
  position: relative;
  z-index: 100;
}
@media all and (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 100%;
    padding: 5px;
    row-gap: 20px;
  }
}

@media all and (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding: 5px;
    row-gap: 0.5%;
  }
}
