.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.movie-grid {
  margin: auto;
  margin-top: 100px;
  display: grid;
  width: 65%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 20px;
  row-gap: 4vh;
  padding: 20px;
  position: relative;
  z-index: 100;
}
.loader {
  border: 16px solid #333;
  border-top: 16px solid rgb(56, 139, 208);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 100%;
    padding: 5px;
    row-gap: 20px;
  }
}

@media all and (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding: 5px;
    row-gap: 2rem;
  }
}
