/* * {
  outline: 1px solid limegreen;
} */
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 500;
  gap: 20%;
  background: var(--dark);

  grid-column: 2 / 3;
  align-items: center;

  height:fit-content;
  min-height: 100px;
  justify-content: end;
  margin-top: 10px;
}


.hero__logo-container {
  align-items: center;
  justify-content: center;
  
  max-height: 100%;
  background-repeat: no-repeat;
  width: clamp(200px,10vw,700px);
}
.hero__logo-container img {
  padding-top: 5px;
  height: 100%;

}

@media only screen and (max-width: 600px) {
  .hero{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;

  }

 }