.hero {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 500;
  justify-content: space-around;
  gap: 40%;
  background-color: rgb(55, 166, 203);
  background-color: rgb(21, 21, 21);
  flex: 0.5 0.5 0.5;
  min-height: fit-content;
  max-height: 100px;
  border-bottom: 3px solid #333;
  /* box-shadow: 0 0 7px 7px black; */
}
.hero-left {
  display: flex;
  min-width: fit-content;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.watch-list {
  color: rgb(255, 255, 255);
  width: fit-content;
  margin-left: 50px;
  font-size: 13px;
  font-weight: 400;
}
.watch-list:hover {
  color: #aaa;
}

.hero__logo-container {
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-height: 100%;
  background-repeat: no-repeat;

  flex: 0.5;
}
.hero__logo-container img {
  padding-top: 5px;
  height: 100%;
}
/*  */
/*  */

@media all and (max-width: 1000px) {
  .hero {
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    max-height: 200px;
    flex: 0.5 0.5 0;
  }
  .hero__logo-container {
    width: 40%;
  }
}
