.nav {
  z-index: 100;
  background-image: linear-gradient(
    180deg,
    black,
    rgba(25, 25, 25, 0.4) 80%,
    transparent
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  color: white;

  position: absolute;
}
.nav__left {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 10px;
}
.nav__logo {
  width: 100px;
  cursor: pointer;
}
.nav__logo:hover {
  filter: brightness(1.6);
}
.nav__right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.nav__profile:hover {
  filter: brightness(0.6);
}
.nav__menu {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}
.nav__menu > li {
  cursor: pointer;
  font-weight: bold;
}
.nav__menu > li:hover {
  color: rgb(0, 128, 255);
}
