.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 24%;
  height: fit-content;
  z-index: 500;
}
.search-container form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  flex-direction: column;
  width: 100%;
}
.filter-button {
  border: none;
  padding: 10px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.81);
  border-radius: 5px;
  color: #666;
}

.movie-search {
  font-family: Poppins;
  padding: 5px;
  font-weight: 300;
  font-size: 1.2rem;
  background-image: url(../../Components/search1.svg);
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 25px;
  background-color: transparent;
  width: 250px;
  height: 40px;
  outline: none;
  border-style: none;
  transition: all 400ms ease-in-out;
  color: rgb(194, 194, 193);
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 5px;
}
.movie-search:focus {
  width: 100%;
}

@media all and (max-width: 600px) {
  .search-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-container:focus {
    width: 100%;
  }

  .movie-search {
    width: 70%;
    height: 40px;
  }
  .movie-search:focus {
    width: 70%;
  }
}
