.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  z-index: 500;
  min-width: 100%;
  min-height: 50px;

  
}
.search-container form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  width: 100%;
}


.movie-search {
  height: 32px;
  width: 80%;
  outline: none;
  border-style: none;
  transition: all 400ms ease-in-out;

  background-color: #181818;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.movie-search:focus::placeholder {
  color: transparent;
}
.movie-search:focus-within{
  box-sizing: border-box;
  width: 95%;

}


@media all and (max-width: 600px) {


}
