.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: rgb(41, 40, 41);
  top: 100%;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  gap: 5px;
  height: 500px;
  height: fit-content;
}
.result {
  display: flex;
  background-color: #222;

  height: auto;
  align-items: center;
  justify-content: space-evenly;
}
.result-poster {
  flex: 0.15;
  border-radius: 5px;
  overflow: clip;
}
.result-poster img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
.details {
  flex: 0.55;
}

.details p {
  margin: 0;
  color: rgb(194, 194, 193);
}
