.search-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 75%;
  top: 0;
  width: 24%;
  height: fit-content;
}
.search-container form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  flex-direction: column;
  width: 100%;
}
.filter-button {
  border: none;
  padding: 10px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  color: #666;
}

.movie-search {
  font-family: Poppins;
  padding: 5px;
  font-weight: 300;
  font-size: 1.5rem;
  background-image: url(../../Components/search1.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px;
  background-color: transparent;
  width: 250px;
  height: 40px;
  outline: none;
  border-style: none;
  transition: all 400ms ease-in-out;
  color: tan;
  border-bottom: 2px solid #eee;
}
.movie-search:focus {
  width: 100%;
}

@media all and (max-width: 600px) {
  .search-container {
    position: static;
    width: 100%;
    padding-bottom: 10px;
  }
  .search-container:focus {
    width: 100%;
  }

  .movie-search {
    width: 70%;
  }
  .movie-search:focus {
    width: 70%;
  }
}
