.subscription-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5 0.5 0;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: rgb(8, 9, 11);
  box-shadow: inset 0px 3px 8px 6px rgba(0, 0, 0, 0.573);
}
.services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 5px;
}
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscription-logo-container {
  margin: 5px;
  display: flex;
  cursor: pointer;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;

  border-radius: 10px;
}
.subscription-logo-container img {
  width: 100%;
  object-fit: contain;
  filter: grayscale();
  color: white;
  font-size: 2rem;
}
.subscription-logo-container img.selected {
  filter: none;
}
