.subscription-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5 0.5 0;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0);


  
}
.services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 5px;
}
.filters {
  display: grid;
  
  align-items: center;
  gap: 10px;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(9,auto);
}

.filter-select {
  border: none;
  background-color: #08090b;
  color: rgba(255, 255, 255, 0.657);
  border-radius: 0.75em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
.subscription-logo-container {
  margin: 5px;
  display: flex;
  cursor: pointer;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;

  border-radius: 10px;
}
.subscription-logo-container img {
  width: 100%;
  object-fit: contain;
  filter: grayscale();
  color: white;
  font-size: 2rem;
}
.subscription-logo-container img.selected {
  filter: none;
}
