

.left-bar{
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 2px solid var(--light);
  width: clamp(100px,2vw,500px);
  background-color: var(--dark);
}

.services{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.1vw;
  padding-top: 60px;
  padding-bottom: 20%;
  width: clamp(60px,2vw,500px);

}

.divider{
  width: 70px;
  max-width: 70px;
  height: 3px;
  background-color: var(--light);
  border-radius: 50px;
  padding: 0.1vw;
}










.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5 0.5 0;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  width: clamp(100px,5vw,500px);
}
.subscription-logo-container {
  margin: 5px;
  display: flex;
  cursor: pointer;
  max-height: clamp(100px,5vw,500px);
  max-width: clamp(100px,5vw,500px);
  overflow: hidden;

  border-radius: 100%;
}
.subscription-logo-container img {
  width: 100%;
  object-fit: contain;
  filter: grayscale();
  color: white;
  font-size: 2rem;
}
.subscription-logo-container img.selected {
  filter: none;
}

.filters {
  margin-top: 1em;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(10,auto);
}

.filter-select {
  border: none;
  background-color: #08090b;
  color: rgba(255, 255, 255, 0.657);
  border-radius: 0.75em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}


.left-icon{
  cursor: pointer;
  margin-top: 20px;
  fill: white;
}
.left-icon:hover{
  fill: rgb(181, 181, 181);
 }